body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Geneva, sans-serif;
    /* overflow-x: hidden; */
}

.container {
    width: 100%;
    padding: 0 2vw;
    display: flex;
}

.logo img {
    height: 100px;
    width: 100px;
}

.header {
    background-color: rgb(8, 114, 40);
    border-bottom: 2px rgb(0, 0, 0) solid;
    width: 100%;
    display: flex;
}

.header .container {
    justify-content: space-between;

}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.agora {
    font-weight: 800px;
}

.navbar {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.titulo {
    color: white;
    width: fit-content;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;

}

.sessao02{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2.5vw;
    justify-content: space-between;
   background-color: rgb(8, 114, 40); ;
}
.banner {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    gap: 1vw;
}


.banner .container {
    height: 600px;
    font-size: 12px;
    align-items: left;
}

.banner p {
    justify-content: center;
    text-align: center;
    height: fit-content;
    margin: 0;
    padding: 0;

  
}

.sobre {
    width: 300px;
    height: 250px;

}

.sobre2 {
    width: 300px;
    height: 350px;

}
.sobre3 {
    width: 300px;
    height: 280px;

}
.txt_escudo {
    background-color: rgb(8, 114, 40);
    border-radius: 2rem;
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 80%;
    text-align: center;
    font-size: 17px;
}

.container span {

    font-weight: 800;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.footer {
    display: flex;
    width: 100%;
    
    background-color: rgb(8, 114, 40);
    color: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}