body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Geneva, sans-serif;
    background-color: rgb(5, 242, 222);
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
}

.header {
    background-color: black;
    border-bottom: 2px  rgb(5, 242, 222) solid;
    width: 100%;
    display: flex;
}

.header .container {
    justify-content: space-between;

}

.header a {
    text-decoration: none;
    color: rgb(5, 242, 222);
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.titulo {
    color: white;
    width: fit-content;
    font-weight: 500;
}

.banner {
    display: flex;
    height: fit-content;
    padding: 0;
    color: black;
    background-image: url(../imagem/jogadores-de-futebol-em-acao-no-estadio-profissional.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x:center;
    background-position-y: bottom;
    height: 87vh;
}
.banner .img{
    display: flex;
    width: 200px;
    height: 200px;
   

}

.banner .container {
    height: 600px;
    font-size: 12px;
    align-items: left;
   left: 100px;
   top:370px;
    position: absolute;
}

.banner p {
    height: fit-content;
    margin: 0;
    padding: 0;
    width: 280px;

}
.banner .container span {

    font-weight: 800;
}
.pg1{
    display: flex;
    height: fit-content;
    padding: 0;
    color: black;
    background-size: cover;
    height: 800px;   
}
.footer{
    display: flex;
    width: 100%;
    background-color:black;
    color:  rgb(119, 239, 0);
    height: 190px;
    justify-content: center;
    align-items:center ;
flex-direction:column;
}
